{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
    <title>Hello, world!</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <script>
    location.href = "{% url 'home' %}";
    </script>
    {% endif %}
    
    <!---navbar-section--- -->
    <section class="navbar-section">
        <div class="container">
           <nav class="navbar navbar-light">
            <a class="navbar-brand" href="index.html"><img src="{% static 'images/inet.png' %}"></a>
           </nav>
       </div>
    </section>
    
    <section class="dashboard-heading">
      <div class="container">
         <h1 class="text-center mt-4 mb-5">Account Sign In</h1>
           <h3>All fields are required.</h3>
              <p>Enter information on this page in the Roman alphabet. (Alphanumeric)</p>
        <div class="row">
           <div class="col-md-12">
             <div class="main-dashboard">
               <h3>Username</h3>
               <p>Your username must contain 6 or more characters.</p>
               <form method='post'>
               {% csrf_token %}
               {{ form.as_p }}
               {{ customerForm.as_p }}
                {% if request.GET.next %}
               <input type="hidden" name="next" value="{{ request.GET.next }}">
               {% endif %}
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              
          </div>
           </div>
        </div>
      </div>
    </section>

    <section class="footer-section text-center">
     <div class="container">
        <div class="row">
         <div class="col-md-12">
           <div class="main-ul">
              <ul>
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>
              <p>Created by PHJY iNet Software Pvt.Ltd. © 2019-2020. All copy rights reserved.</p>
           </div>
         </div>
       </div>
     </div>
   </section>
  </body>
</html>
